@import url("style.css");


#songs-bg{
    display: flex;
    justify-content: center;
    
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}

.songs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cardblack);
    border-radius: 3rem;
    width: 30%;
    
}

.song{
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem ;
}

.songs > div > h2{
    color: var(--zolty);
    font-size: 3rem;
}